root {
  --bg-color-boody: #ffffff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  /* font-style: normal;
  font-weight: 400; */
  line-height: 1.5;
  /* color: #434455;
  background-color: #ffffff; */
}

/* Header */

.page-header {
}

.link-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.nav-page .logo-chank {
  color: #2e2f42;
}

.menu-nav .menu-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-address .link-item {
  /* font-family: "Roboto";
  font-style: normal;
  font-weight: 400; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-header {
  font-style: normal;
}
